.container {
  width: 750px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar{
  display: flex;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid .nav-link-home {
  color: #777;
  font-size: 18px;
  text-decoration: none;
}

.container-fluid .nav-link {
  text-decoration: none;
  color: #777;
}

.article-title {
  color: #337ab7;
  text-decoration: none;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 30px;
}

.article-content {
  color: #333333;
  font-size: 17px;
  font-family: "Roboto";


}
